<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    {{title}}!!
  </h1>
</div>
<div>

<br>
<h2> Verkregen informatie (Server) </h2>
<ul>
  <li>Inzending van gebruiker: {{username}}</li>
  <li>De geincrypte tekst: {{encryptedText}}</li>    
</ul>

<form (submit)="submit()">
  <div class="form-group">
    <label for="name">Naam</label>
    <input type="text" [(ngModel)]="message.name" class="form-control" name="name" id="name" aria-describedby="name" placeholder="Voer een naam in">
  </div>
  <div class="form-group">
    <label for="secretText">Geheime tekst</label>
    <textarea class="form-control" [(ngModel)]="message.secret" name="secretText" id="secretText" aria-describedby="secretText" placeholder="Voer een je geheime tekst in"></textarea>
  </div>
  <div class="form-group">
    <label for="password">Wachtwoord</label>
    <input type="password" class="form-control" [(ngModel)]="message.password" name="password" id="password" aria-describedby="password" placeholder="Voer een wachtwoord in" />
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
    <button class="btn btn-warning" *ngIf="encryptedText" (click)="decrypt()">Decrypt</button>
</div>

